{
  "extends": [
    "next",
    "@zendeskgarden",
    "@zendeskgarden/eslint-config/plugins/react",
    "@zendeskgarden/eslint-config/plugins/typescript"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-extra-parens": "off",
    "@typescript-eslint/indent": "off",
    "object-property-newline": "off",
    "max-len": ["warn", 100]
  }
}
